body {
  text-align: center;
  padding: 10px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size: 30px;
}

.rojo {
  font-weight: bold;
  color: red;
}

.azul {
  font-weight: bold;
  color: blue;
}
